@font-face {
  font-family: 'Titillium';
  src: url('../fonts/Titillium/Titillium-Thin.woff2') format('woff2'),
    url('../fonts/Titillium/Titillium-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/Titillium/Titillium-ThinItalic.woff2') format('woff2'),
    url('../fonts/Titillium/Titillium-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/Titillium/Titillium-Semibold.woff2') format('woff2'),
    url('../fonts/Titillium/Titillium-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/Titillium/Titillium-SemiboldItalic.woff2') format('woff2'),
    url('../fonts/Titillium/Titillium-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/Titillium/Titillium-Black.woff2') format('woff2'),
    url('../fonts/Titillium/Titillium-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/Titillium/Titillium-RegularItalic.woff2') format('woff2'),
    url('../fonts/Titillium/Titillium-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/Titillium/Titillium-LightUpright.woff2') format('woff2'),
    url('../fonts/Titillium/Titillium-LightUpright.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/Titillium/Titillium-Bold.woff2') format('woff2'),
    url('../fonts/Titillium/Titillium-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/Titillium/Titillium-Light.woff2') format('woff2'),
    url('../fonts/Titillium/Titillium-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/Titillium/Titillium-LightItalic.woff2') format('woff2'),
    url('../fonts/Titillium/Titillium-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/Titillium/Titillium-Regular.woff2') format('woff2'),
    url('../fonts/Titillium/Titillium-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/Titillium/Titillium-BoldItalic.woff2') format('woff2'),
    url('../fonts/Titillium/Titillium-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
