{% extends "project_layout.html" %}

{% block title %}Paramétrage de la requête{% endblock %}

{% block content %}
{% let active_page = "request" %}

  <main class="main-site" id="main-site">
    <section class="section-content">
      <aside class="aside">

        <div class="accordion">
          <span class="icon-chevron"></span>
          <span>Vos critères de collecte</span>
        </div>

        {% include "_panel_collect.html" %}
        
        <div class="accordion active">
          <span class="icon-chevron"></span>
          <span>Vos critères d'étude</span>
        </div>

        
        {% include "_panel_criteria.html" %}

        {% if is_analyzed %}
        <div class="accordion">
          <span class="icon-chevron"></span>
          <span>Les tweets de votre étude</span>
        </div>
        {% include "_panel_analysis.html" %}

        <div class="accordion">
          <span class="icon-chevron"></span>
          <span>Résultats d'analyses</span>
        </div>
        {% include "_panel_results.html" %}
        {% endif %}

      </aside>

      <!-- <a href="{{ popup_hashtags_path }}" class="action-addHashtags button--green">
        <span class="icon-plus"></span>
        <span>Sélectionner des #</span>
      </a> -->

      <div class="request-view" id="request-view">
        {% include "_request_form.html" %}
      </div>

    </section>
  </main>

  {% include "footer.html" %}
</body>

</html>
{% endblock %}