{% extends "project_layout.html" %}

{% block title %}Résultats - Fréquence de tweets{% endblock %}

{% block content %}

  <main class="main-site" id="main-site">
    <section class="section-content">
      <aside class="aside">
        <div class="accordion">
          <span class="icon-chevron"></span>
          <span>Vos critères de collecte</span>
        </div>

        {% let active_page = "tweets" %}
        {% include "_panel_collect.html" %}

        <div class="accordion">
          <span class="icon-chevron"></span>
          <span>Vos critères d'étude</span>
        </div>

        {% include "_panel_criteria.html" %}

        <div class="accordion active">
          <span class="icon-chevron"></span>
          <span>Les tweets de votre étude</span>
        </div>
        {% include "_panel_analysis.html" %}

        <div class="accordion active">
          <span class="icon-chevron"></span>
          <span>Résultats d'analyses</span>
        </div>
        {% include "_panel_results.html" %}
      </aside>

      <div class="graph-hashtags">
        <div>
          {% include "_includes/_tweets_chart.html" %}
        </div>
        <div>
          {% include "_includes/_aside_tweets_chart.html" %}
        </div>
      </div>

    </section>
  </main>

  {% include "footer.html" %}
</body>

</html>
{% endblock %}