$path: "../img";

$mainFont: "Titillium", arial;

$orange: #ef7607;
$orange2: #FFE1C5;
$orange3: #FFF8F1;
$orange4: #FEF1E5;
$rouge: #e63429;
$rouge2: #ffdfdd;
$rouge3: #fcebe9;
$vin: #A81622;
$vert: #6BCD08;
$vert2: #5DA75D;
$vertPale: #D3EED3;
$gris: #cacaca;
$gris2: #c7c7c7;
$gris3: #505050;
$gris4: #979797;
$gris5: #4E4E50;
$gris6: #EDEDED;
$noir: #000;
$blanc: #fff;
$blanc2: #f6f6f6;
$blanc3: #EFEFEF;
$blanc4: #E1E1E1;
