<div class="mask tutoriel-mask" id="modal--tuto">
  <div class="popup popup-tuto popup--subPlan">
    <div class="popup-header">
      <span class="tuto-name">TUTORIEL</span>
      <button type="button" class="popup-header__close" id="modal--tuto--close">
        <span class="icon-cross"></span>
      </button>
    </div>
    <div class="slick-container">
      <div class="slick slick-tutoriel">
        <div class="popup-main">
          <h1 class="popup-title">Bravo ! Vous venez de créer votre nouvelle étude.</h1>
          <div class="popup-step step-1">
            <div class="tuto-screen-samples">
              <img src="/static/img/tuto/tuto-1.png" class="tuto-sample" alt="navigation dans l'application">
            </div>
            <div class="step-content">
              Pour modifier votre étude, vous pouvez utiliser les 3 boutons situés en haut à droite de votre écran
              <ul>
                <li>
                  <span class="tuto-list">
                    <img src="/static/img/tuto/pencil.svg" class="tuto-pics" alt="renommer">&nbsp;Renommer votre étude
                  </span>
                </li>
                <li>
                  <span class="tuto-list">
                    <img src="/static/img/tuto/pic-in-pic.svg" class="tuto-pics" alt="dupliquer">&nbsp;Dupliquer votre
                    étude (pour, par exemple, faire une étude plus fine)
                  </span>
                </li>
                <li>
                  <span class="tuto-list">
                    <img src="/static/img/tuto/trash-can.svg" class="tuto-pics" alt="supprimer">&nbsp;Supprimer votre
                    étude
                  </span>
                </li>
              </ul>
              <p class="tuto-list">Vous pouvez également utiliser le bouton&nbsp;<img
                  src="/static/img/tuto/dots-nav.svg" class="tuto-pics black-bg" alt="navigation">&nbsp;pour retouver
                les pages secondaires.</p>
            </div>
          </div>
        </div>
        <div class="popup-main">
          <h1 class="popup-title">Sélectionnez vos critères d'études</h1>
          <div class="popup-step step-2">
            <div class="step-w-grid">
              <div class="tuto-screen-samples">
                <img src="/static/img/tuto/tuto-2.png" class="tuto-sample" alt="">
              </div>
              <div class="step-content">
                La barre latérale gauche vous permet de naviguer dans l'interface. <br />
                Tout d'abord, sélectionnez <b>vos critères d'études</b> en vous déplaçant sur les menus&nbsp;:
                <ul class="tuto-list__filters">
                  <br />
                  <li><span><img src="/static/img/tuto/periode.png" style="width: 50%;" class="tuto-pics"
                        alt="bouton de filtre sur une période"></span></li>
                  <br />
                  <li><span><img src="/static/img/tuto/hashtags.png" style="width: 50%;" class="tuto-pics"
                        alt="bouton de filtre sur les hashtags"></span></li>
                </ul>
                <br />
                Une fois cela réalisé, vous pourrez obtenir un aperçu rapide du nombre de tweets résultant de votre
                séelction, à l'aide du bouton&nbsp;:
                <span><img src="/static/img/tuto/btn-tweets.png" class="tuto-pics"
                    alt="bouton de filtre sur les hashtags"></span>
                Une fois cela réalisé, vous pourrez obtenir un aperçu rapide du nombre de tweets résultant de votre
                sélection, à l'aide du bouton&nbsp;:
                <span><img src="/static/img/tuto/btn-launch.png" style="width: 29%;" class="tuto-pics"
                    alt="bouton de filtre sur les hashtags"></span>
                <i class="oblique">À noter que le temps de calcul des résultats peut prendre plusieurs minutes.</i>
              </div>
            </div>
          </div>
        </div>
        <div class="slick-container">
          <div class="slick slick-tutoriel">
            <div class="popup-main">
              <h1 class="popup-title">Focus sur la sélection des hashtags</h1>
              <div class="popup-step step-3">
                <div class="tuto-screen-samples">
                  <img src="/static/img/tuto/tuto-3.png" class="tuto-sample" alt="navigation dans l'application">
                </div>
                <div class="step-content">
                  L'écran de sélection des hashtags vous permet, à la fois de <b>sélectionner</b> un ou plusieurs
                  hashtags que vous <b>souhaitez rechercher parmi les tweets</b>, mais également <b>d'exclure</b> des
                  hashtags. Autrement dit, <b>d'exclure tous les tweets contenants ce ou ces hashtags.</b> Il vous est
                  donc possible de consituter deux listes distinctes.
                  <br />
                  Au clic respectif sur les boutons de <b class="txt-success">sélection</b> et d'<b
                    class="txt-error">exclusion</b>, vous accédez à une pop-up qui vous permettra de rechercher vos
                  hashtags de trois manières&nbsp;:
                  <ul>
                    <li> <span class="tuto-list"> <img src="/static/img/tuto/btn-corpus.svg" class="tuto-pics"
                          alt="filtez votre recherche par corpus">&nbsp;À travers des coocurrences</span></li>
                    <li><span class="tuto-list"><img src="/static/img/tuto/btn-utilises.svg" class="tuto-pics"
                          alt="filtrez votre recherche par popularité">&nbsp;Grâce à une remontée des hashtags les plus
                        utiliés</span> </li>
                    <li><span class="tuto-list"><img src="/static/img/tuto/btn-rechercher.svg" class="tuto-pics"
                          alt="lancez votre recherche avec vos filtres">&nbsp;À l'aide de la barre de recherche qui
                        explorera tous les hashtags proposées</span> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slick-container">
          <div class="slick slick-tutoriel">
            <div class="popup-main">
              <h1 class="popup-title">Les résultats d'analyse</h1>
              <div class="popup-step step-4">
                <div class="step-w-grid">
                  <div class="tuto-screen-samples">
                    <img src="/static/img/tuto/tuto-4.png" class="tuto-sample" alt="navigation dans l'application">
                  </div>
                  <div class="step-content">
                    Lorsque vous avez lancé votre analyse, vous pouvez naviguer dans le menu pour accéder aux
                    différentes représentations des résultats&nbsp;:
                    <ul>
                      <li> <span class="tuto-list"><img src="/static/img/tuto/tweet-frequency.png" class="tuto-pics"
                            style="width: 81%;" alt="filtez par fréquence des tweets"></span></li>
                      <li> <span class="tuto-list"> <img src="/static/img/tuto/tweet-author.png" class="tuto-pics"
                            style="width: 81%;" alt="filtez par auteur des tweets"></span></li>
                      <li> <span class="tuto-list"> <img src="/static/img/tuto/hashtags-frequency.png" class="tuto-pics"
                            style="width: 81%;" alt="filtez par fréquence des hashtags"></span></li>
                      <li> <span class="tuto-list"> <img src="/static/img/tuto/communities.png" class="tuto-pics"
                            style="width: 81%;" alt="filtez par communauté"></span></li>
                    </ul>
                    Au sein de chacune de ces catégories, des filtres sont également disponibles pour affiner votre
                    analyse.
                    <span>Si vous souhaitez modifier vos citères, il vous suffit de recliquer sur le
                      bouton&nbsp;:</span>
                    <br />
                    <span class="tuto-list"> <img src="/static/img/tuto/study-criteria.png" class="tuto-pics"
                        style="width: 81%;" alt="retour vers les critères d'études"></span>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="popup-footer tuto">
      <button type="button" class="button--border btn-skip" id="modal--tuto--skip">
        <span id="btn-skip" style="display: block;">Passer</span>
        <span id="btn-end-of-tuto" style="display: none;">C'est parti !</span>
      </button>
    </div>
  </div>
</div>